---
import type { Repository } from '../utils/githubRepos';
const { html_url, name, description, language } = Astro.props as Repository;
---

<div
  class="flex flex-col rounded-md border border-neutral-700 bg-neutral-800 p-4 min-w-72 sm:w-72 w-full cursor-pointer"
>
  <div class="mb-2 flex items-center justify-between">
    <a class="group text-xl font-medium" href={html_url} target="_blank" rel="noopener noreferrer">
      <div class="flex items-center space-x-2 transition hover:text-gray-400">
        <h1>{name}</h1>
        <img src="/assets/Redirect.svg" alt="Redirect Icon" />
      </div>
    </a>
    <div class="flex items-center space-x-3">
      <img src="/assets/Github.svg" alt="GitHub Icon" />
    </div>
  </div>
  <p class="text-gray-400">{description}</p>
  <div class="mt-3 flex items-center justify-between">
    <div class="flex items-center space-x-2">
      <span class="truncate rounded-md border border-neutral-800 bg-neutral-900 px-2 py-1 font-mono text-xs">
        {language}
      </span>
    </div>
  </div>
</div>
