---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ryo ϟ official website and portfolio">
    <meta name="twitter:image" content="https://i.pinimg.com/564x/31/cb/74/31cb74cacedebbe04bf7c95b240efa83.jpg">
    <meta name="theme-color" content="#BD93F9">
    <meta property="og:site_name" content="#Santana">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.gif" />
    <title>100opps | Portfolio</title>
  </head>
  <body class="font-sans">
    <div class="wrapper">
      <div class="absolute z-[-1] w-full h-full">
        <div class="bg-img absolute w-full h-full opacity-5"></div>
      </div>
      <main class="max-w-2xl m-auto p-6 pt-6 min-h-screen">
        <slot />
      </main>
    </div>
  </body>
</html>
